{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "baseUrl": '.',
                "alias": {
                    "@/*": ["./src/*"],
                }
            }
        ]

    ]
}