.sidebar-menu-container {
  height: calc(100% - 64px);
  width: 200px;
  position: relative;
  top: 64px;
}
.sidebar-menu-container .ant-layout-sider {
  height: 100%;
  color: #0b0f12;
}
.sidebar-menu-container .ant-layout-sider .ant-menu-submenu-title .anticon + span {
  font-size: 16px;
}
