.header-container {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: unset;
	.logo {
		float: left;
		width: 200px;
		height: 64px;
		line-height: 64px;
		text-align: center;
		& .sidebar-logo {
			width: 50px;
			animation: sidebar-logo-spin infinite 10s linear;
		}

		span {
			display: inline-block;
			margin: 0;
			color: @white;
			font-weight: 600;
			line-height: 50px;
			font-size: 14px;
			font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
			vertical-align: middle;
		}
	}
}

@keyframes sidebar-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
